[submodule "dependencies/klib"]
	path = dependencies/klib
	url = git@github.com:attractivechaos/klib.git
[submodule "dependencies/nanopb"]
	path = dependencies/nanopb
	url = git@github.com:nanopb/nanopb.git
[submodule "dependencies/debugbreak"]
	path = dependencies/debugbreak
	url = git@github.com:scottt/debugbreak.git
